* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    background: linear-gradient(180deg, rgb(95, 137, 233) 0%, rgb(138, 138, 231) 0%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.mario {
    position: absolute;
    bottom: 0;
    height: 150px;
}

.jump {
    animation: mario linear infinite 1s;
}

.pipe {
    position: absolute;
    bottom: 0;
    right: -160px;
    width: 140px;
    animation: pipe infinite linear 2s;
}

.clouds {
    position: absolute;
    width: 600px;
    top: 40px;
    animation: clouds infinite linear 8s;
}

@keyframes pipe {
    from {
        right: -160px;
    }

    to {
        right: 100%;
    }
}

@keyframes clouds {
    from {
        right: -600px;
    }
    to {
        right: 100%;
    }

}

@keyframes mario {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 300px;
    }

    60% {
        bottom: 300px;
    }

    100% {
        bottom: 0;
    }
}